{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <section id="ticketedit">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">


                <div class="col-lg-3 order-lg-1 d-flex flex-column caption">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Liste de vos tickets</h4>
                        </div>
                        <div class="card-body">
                            {% for item in ticketlist %}
                                <p>
                                   <a href="{{ path('app_support_ticket',{id:item.id}) }}"> {{ item.subject }}</a>
                                    {% if item.status == 1 %}
                                        <span class="badge bg-success">{{ item.statusAsString }}</span>
                                    {% elseif item.status == 2 %}
                                        <span class="badge bg-primary">{{ item.statusAsString }}</span>
                                    {% elseif item.status == 3 %}
                                        <span class="badge bg-danger">{{ item.statusAsString }}</span>
                                    {% endif %}
                                </p>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-9  order-lg-1 d-flex flex-column  caption">

                    <div class="card mb-4">
                        <div class="card-header">
                            <h1 class="card-title mb-0">Ticket {{ ticket.subject }}</h1>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <span class="font-weight-bold">Status :</span> {% if ticket.status == 1 %}
                                    <span class="badge bg-success">{{ ticket.statusAsString }}</span>
                                {% elseif ticket.status == 2 %}
                                    <span class="badge bg-primary">{{ ticket.statusAsString }}</span>
                                {% elseif ticket.status == 3 %}
                                    <span class="badge bg-danger">{{ ticket.statusAsString }}</span>
                                {% endif %}
                                {% if ticket.status == 3 %}
                                    <span class="float-right">
        <a class="btn btn-success"
           href="{{ path('app_support_etat', {id: ticket.id, etat: 1}) }}">Réouvrir le ticket</a>
    </span>
                                {% else %}
                                    <span class="float-right">
        <a class="btn btn-danger" href="{{ path('app_support_etat', {id: ticket.id, etat: 3}) }}">Fermer le ticket</a>
    </span>
                                {% endif %}
                                <br>
                                <span class="font-weight-bold">Date de création :</span>
                                {{ ticket.createdAt ? ticket.createdAt|format_datetime(locale='fr', pattern="EEEE dd MMMM YYYY") : '' }}
                                à {{ ticket.createdAt ? ticket.createdAt|date("H:i") : '' }}
                            </p>


                            {% for row in ticket.messages %}
                                <div class="row mb-4">

                                    <div class="col-2 text-center">
                                        <p>
                                            <img src="{{ ticket.user.photo ?asset('assets/file/'~ ticket.user.photo): asset('assets/file/blank-profile-picture-973460__340.webp') }}"
                                                 class="rounded" width="100" height="100"
                                                 alt="{{ ticket.user.fullName }}"></p>
                                        <p class="mb-0">{{ ticket.user.fullName }}</p>
                                    </div>
                                    <div class="col-10">
                                        <div class="comment">
                                            <div class="comment-body">
                                                <p class="text-muted">Le
                                                    : {{ row.createdAt ? row.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")  : '' }}
                                                    à {{ row.createdAt ? row.createdAt|date("H:i") : '' }}</p> {{ row.content|raw }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if ticket.status != 3 %}
                        <h2>Votre réponse</h2>
                        {{ form_start(form) }}

                        {{ form_widget(form.subject, {'value': ticket.subject, 'attr': {'class': 'd-none'}}) }}
                        {{ form_row(form.content) }}
                        <div class="form-group">
                            <a href="{{ path('app_support_Liste') }}" class="btn btn-dark">Retour</a>
                            <button class="btn btn-success"
                                    type="submit">{{ button_label|default('Soumettre') }}</button>
                        </div>
                        {{ form_end(form) }}
                    {% endif %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
