{% extends 'baseadmin.html.twig' %}

{% block title %}{{ tasks.name }}{% endblock %}

{% block body %}
    <h1>{{ tasks.name }}</h1>

    <section id="taskedit">
        <div class="container-fluid position-relative">
            <div class="row gy-5" data-aos="fade-in">

                <div class="col-lg-3 order-lg-1 d-flex flex-column caption">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Liste de vos projets</h4>
                        </div>
                        <div class="card-body">
                            {% for project in projects %}
                                <div class="mb-3">
                                    <a class="text-decoration-none" data-bs-toggle="collapse" href="#tasksCollapse{{ project.id }}" role="button" aria-expanded="false" aria-controls="tasksCollapse{{ project.id }}">
                                        {{ project.name }}
                                    </a>
                                    {% if project.tasks is not empty %}
                                        <div class="collapse" id="tasksCollapse{{ project.id }}">
                                            <ul class="list-group">
                                                {% for task in project.tasks|sort((a, b) => b.dateCreated.timestamp - a.dateCreated.timestamp) %}
                                                    <li class="list-group-item">
                                                        <strong>Tâche : </strong><a href="{{ path('app_task_show', {id: task.id}) }}" class="text-decoration-none"> {{ task.name }}</a>
                                                        <span class="float-right">{{ task.dateCreated|date('Y-m-d H:i:s') }}</span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                        {% else %}
                                            <div class="collapse" id="tasksCollapse{{ project.id }}">
                                                <ul class="list-group">
                                                        <li class="list-group-item">
                                                            <a href="{{ path('app_task_new') }}" class="text-decoration-none">Créer une tâche</a>
                                                        </li>
                                                </ul>
                                            </div>
                                    {% endif %}
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-9  order-lg-1 d-flex flex-column caption">

                    <div class="card mb-4">
                        <div class="card-header">
                            <h1 class="card-title mb-0">Tâche : {{ tasks.name }}</h1>
                        </div>
                        <div class="card-body">
                            <!-- Affichage des détails de la tâche -->

                            <p>
                            <strong>Statut : </strong>
                            {% if tasks.status == 1 %}
                                    <span class="badge bg-success">{{ tasks.statusAsString }}</span>
                                {% elseif tasks.status == 2 %}
                                    <span class="badge bg-primary">{{ tasks.statusAsString }}</span>
                                {% elseif tasks.status == 3 %}
                                    <span class="badge bg-danger">{{ tasks.statusAsString }}</span>
                                {% endif %}
                            </p>
                            <p>
                            <strong>Priorité : </strong>
                           {% if tasks.priority == 1 %}
                                    <span class="badge bg-success">{{ tasks.priorityAsString }}</span>
                                {% elseif tasks.priority == 2 %}
                                    <span class="badge bg-primary">{{ tasks.priorityAsString }}</span>
                                {% elseif tasks.priority == 3 %}
                                    <span class="badge bg-danger">{{ tasks.priorityAsString }}</span>
                                {% endif %}
                            </p>

                            <p>
                            <div class="custom-select" style="width: auto;">
                                <strong>Etat :</strong>
                                <div id="current-state" class="select-value">
                                    {% if tasks.progress == 0 %}
                                        <span class="badge bg-danger">{{ tasks.progressAsString }}</span>
                                    {% elseif tasks.progress == 50 %}
                                        <span class="badge bg-primary">{{ tasks.progressAsString }}</span>
                                    {% elseif tasks.progress == 100 %}
                                        <span class="badge bg-success">{{ tasks.progressAsString }}</span>
                                    {% endif %}
                                </div>
                                <div id="select-items" class="select-items">
                                    <div id="item-0" class="badge bg-danger" data-value="0" style="background-color: #dc3545;">Non commencé</div>
                                    <div id="item-50" class="badge bg-primary" data-value="50" style="background-color: #007bff;">En cours</div>
                                    <div id="item-100" class="badge bg-success" data-value="100" style="background-color: #28a745;">Terminé</div>
                                </div>
                            </div>
                            </p>





                            <strong>Description :</strong>
                            <p>{{ tasks.description|raw }}</p>
                            {% for subtask in tasks.subtasks %}
                                <div class="row mb-4">
                                    <p><strong>{{ subtask.user.getfullname }}</strong> - <span class="text-muted"> {{ subtask.date|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }} à {{ subtask.date ? subtask.date|date("H:i") : '' }}</span></p>
                                   {{ subtask.content|raw }}
                                </div>
                            {% endfor %}



                        </div>
                    </div>
                    <!-- Formulaire pour ajouter une nouvelle sous-tâche -->
                    <h2>Ajouter un commentaire</h2>
                    {{ form_start(subtaskForm) }}
                    {{ form_widget(subtaskForm) }}
                    <button class="btn btn-success" type="submit">Ajouter</button>
                    {{ form_end(subtaskForm) }}
                    <!-- Ajouter d'autres sections et formulaires au besoin -->

                </div>
            </div>
        </div>
    </section>


    <a href="{{ path('app_task_new') }}">Créer une tâche</a>
{% endblock %}
