{{ form_start(form) }}
<div class="mb-3">
{{ form_label(form.name) }}
    {{ form_widget(form.name) }}
</div>
<div class="mb-3">
{{ form_label(form.title) }}
    {{ form_widget(form.title) }}
</div>
<div class="mb-3">
{{ form_label(form.slogan) }}
    {{ form_widget(form.slogan,{value:config.slogan|raw}) }}
</div>
{% if config.banner %}
    <div class="p-2">
        <img class="img-fluid" src="/assets/file/{{ config.banner }}" width="250" alt="{{ config.title }}">
    </div>
{% endif %}
<div class="mb-3">
{{ form_label(form.banner) }}
    {{ form_widget(form.banner) }}
</div>
<div class="mb-3">
{{ form_label(form.about) }}
    {{ form_widget(form.about,{value:config.about|raw}) }}

</div>
{{ form_label(form.contact) }}
    {{ form_widget(form.contact,{value:config.contact|raw}) }}
<div class="form-group pt-2">
    <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
    <a href="{{ path('app_config_index') }}" class="btn btn-dark">Retour</a>
</div>
{{ form_end(form) }}