{% extends 'baseadmin.html.twig' %}


{% block title %}Config index{% endblock %}

{% block body %}
    <h1>Config index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slogan</th>
                <th>About</th>
                <th>Contact</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for config in configs %}
            <tr>
                <td>{{ config.id }}</td>
                <td>{{ config.name|raw }}</td>
                <td>{{ config.slogan|striptags|raw|slice(0, 100)|replace({'&nbsp;': ' ', '&agrave;': 'à', '&eacute;': 'é'}) }}</td>
                <td>{{ config.about|striptags|raw|slice(0, 100)|replace({'&nbsp;': ' ', '&agrave;': 'à', '&eacute;': 'é'}) }}</td>
                <td>{{ config.contact|striptags|raw|slice(0, 100)|replace({'&nbsp;': ' ', '&agrave;': 'à', '&eacute;': 'é'}) }}</td>
                <td>{{ config.title }}</td>
                <td>
                    <a href="{{ path('app_config_show', {'id': config.id}) }}">voir</a>
                    <a href="{{ path('app_config_edit', {'id': config.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_config_new') }}">Créer une nouvelle config</a>
{% endblock %}
