{% extends 'baseadmin.html.twig' %}

{% block title %}Liste de suivi du temps{% endblock %}

{% block body %}
    <h1>Liste de suivi du temps</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Début du temps</th>
                <th>Fin du temps</th>
                <th>Nombre d'heure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for time_tracking in time_trackings %}
            <tr>
                <td>{{ time_tracking.starttime ? time_tracking.starttime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ time_tracking.endtime ? time_tracking.endtime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ time_tracking.hours }}</td>
                <td>
                    <a href="{{ path('app_time_tracking_show', {'id': time_tracking.id}) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('app_time_tracking_edit', {'id': time_tracking.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_time_tracking_new') }}">Créer un nouveau suivi</a>
{% endblock %}
