{% extends 'baseadmin.html.twig' %}

{% block title %}TimeTracking{% endblock %}

{% block body %}
    <h1>TimeTracking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ time_tracking.id }}</td>
            </tr>
            <tr>
                <th>Starttime</th>
                <td>{{ time_tracking.starttime ? time_tracking.starttime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{{ time_tracking.endtime ? time_tracking.endtime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Hours</th>
                <td>{{ time_tracking.hours }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_time_tracking_index') }}">back to list</a>

    <a href="{{ path('app_time_tracking_edit', {'id': time_tracking.id}) }}">edit</a>

    {{ include('time_tracking/_delete_form.html.twig') }}
{% endblock %}
