{% extends 'baseadmin.html.twig' %}
{% block title %}Liste des projets{% endblock %}

{% block body %}
    <h1>Liste des projets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Budget</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.startdate ? project.startdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ project.enddate ? project.enddate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ project.budget }} €</td>
                <td>
                    <a href="{{ path('app_project_show', {'id': project.id}) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('app_project_edit', {'id': project.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_project_new') }}">Create new</a>
{% endblock %}
